.inner-column {
  display: block;
  width: 98%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border: 2px solid red;
}

.page-section {
  border: 4px solid blue;
  scroll-margin-top: 2em;
}

.page-content {
  flex-grow: 1;
}

picture {
  display: block;
}

picture img {
  display: block;
  width: 100%;
  height: auto;
}

.page-break {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.gap-20 {
  gap: 20px;
}
