@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

picture {
  display: block;
}

picture img {
  display: block;
  width: 100%;
  height: auto;
}

#scrims-container {
  scroll-margin-top: 2em;
}

.page-break,
.footer-spacer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  flex-grow: 1;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  display: inline-block;
  text-decoration-color: #fff !important;
}

.link:hover {
  transform: scale(1.01);
  text-decoration: underline;
}

.link-2 {
  color: inherit;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  display: inline-block;
}

.link-2:hover {
  /* no underline for link-2 */
  transform: scale(1.01);
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}

.mr-3 {
  margin-right: 30px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}
